extends layout

block content
  h1= title
  p Welcome to #{HomeTeam} vs #{AwayTeam}

  ul
    each item in GamesBetweenTeams
        if (item.SameHomeTeam)
          if(item.HomeScore > item.AwayScore)
            li#win= item.Competicion + " ( " + item.Season + " ) " + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else if(item.HomeScore < item.AwayScore)
            li#lose= item.Competicion + " ( " + item.Season + " ) " + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else
            li#draw= item.Competicion + " ( " + item.Season + " ) " + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
        else
          if(item.HomeScore > item.AwayScore)
            li#lose= item.Competicion + " ( " + item.Season + " ) " + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else if(item.HomeScore < item.AwayScore)
            li#win= item.Competicion + " ( " + item.Season + " ) " + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else
            li#draw= item.Competicion + " ( " + item.Season + " ) " + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam


  p Last #{HomeTeam} Games
    each item in HomeScores
        if (item.SameHomeTeam)
          if(item.HomeScore > item.AwayScore)
            li#win= item.Competicion + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else if(item.HomeScore < item.AwayScore)
            li#lose= item.Competicion +  item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else
            li#draw= item.Competicion +  item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
        else
          if(item.HomeScore > item.AwayScore)
            li#lose= item.Competicion + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else if(item.HomeScore < item.AwayScore)
            li#win= item.Competicion  + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else
            li#draw= item.Competicion   + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam

p Last #{AwayTeam} Games
    each item in AwayScores
        if (item.SameHomeTeam)
          if(item.HomeScore > item.AwayScore)
            li#win= item.Competicion + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else if(item.HomeScore < item.AwayScore)
            li#lose= item.Competicion +  item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else
            li#draw= item.Competicion +  item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
        else
          if(item.HomeScore > item.AwayScore)
            li#lose= item.Competicion + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else if(item.HomeScore < item.AwayScore)
            li#win= item.Competicion  + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam
          else
            li#draw= item.Competicion   + item.HomeTeam + " " + item.HomeScore + " " + item.AwayScore + " " + item.AwayTeam 