extends layout

block content
    h1 #{teamInfo.name} vs #{teamInfo.nextGame.AwayTeam}
    h2 #{teamInfo.nextGame.Competition.name}
    
    p teste #{graphBetween}
    br
    .chart02
        canvas#myChart(width="150",height="100")
    h3 Games Between Teams
    div
        table
            thead
                tr
                    th Data
                    th Competição
                    th Equipa Casa
                    th Resultado
                    th Equipa Fora 
            tbody
                each g in teamInfo.nextGame.GamesBetweenTeams
                    //- TOD: should be inline condition for the class
                    if g.SameHomeTeam
                        tr.sameHomeTeamClass
                            td
                                p #{g.Date}
                            td
                                p (#{g.Competicion} - #{g.Season})
                            td
                                p #{g.HomeTeam}
                            td
                                a(href='/match-info/' + g.GamePermLink) #{g.HomeScore} - #{g.AwayScore}               
                            td
                                p #{g.AwayTeam}
                    else
                        tr
                            td
                                p #{g.Date}
                            td
                                p (#{g.Competicion} - #{g.Season})
                            td
                                p #{g.HomeTeam}
                            td
                                a(href='/match-info/' + g.GamePermLink) #{g.HomeScore} - #{g.AwayScore}               
                            td
                                p #{g.AwayTeam}

    hr

    h3 Home Scores
    div
        table
            thead
                tr
                    th Data
                    th Competição
                    th Equipa Casa
                    th Resultado
                    th Equipa Fora 
            tbody
                each g in teamInfo.nextGame.HomeScores
                    //- TOD: should be inline condition for the class
                    if g.SameHomeTeam
                        tr.sameHomeTeamClass
                            td
                                p #{g.Date}
                            td
                                p (#{g.Competicion} - #{g.Season})
                            td
                                p #{g.HomeTeam}
                            td
                                a(href='/') #{g.HomeScore} - #{g.AwayScore}               
                            td
                                p #{g.AwayTeam}
                    else
                        tr
                            td
                                p #{g.Date}
                            td
                                p (#{g.Competicion} - #{g.Season})
                            td
                                p #{g.HomeTeam}
                            td
                                a(href='/') #{g.HomeScore} - #{g.AwayScore}               
                            td
                                    p #{g.AwayTeam}
    hr

    h3 Away Scores
    div
        table
            thead
                tr
                    th Data
                    th Competição
                    th Equipa Casa
                    th Resultado
                    th Equipa Fora 
            tbody
                each g in teamInfo.nextGame.AwayScores
                    //- TOD: should be inline condition for the class
                    if g.SameHomeTeam
                        tr.sameHomeTeamClass
                            td
                                p #{g.Date}
                            td
                                p (#{g.Competicion} - #{g.Season})
                            td
                                p #{g.HomeTeam}
                            td
                                a(href='/') #{g.HomeScore} - #{g.AwayScore}               
                            td
                                p #{g.AwayTeam}
                    else
                        tr
                            td
                                p #{g.Date}
                            td
                                p (#{g.Competicion} - #{g.Season})
                            td
                                p #{g.HomeTeam}
                            td
                                a(href='/') #{g.HomeScore} - #{g.AwayScore}               
                            td
                                p #{g.AwayTeam}
    
    script.
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["#{teamInfo.name}", "Empate", "#{teamInfo.nextGame.AwayTeam}"],
                datasets: [{
                    label: '# of Votes',
                    data: [#{teamGraph.teste}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                        
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                        
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true
                
            }
            });